body{
    background-color: aliceblue;
    height: 100%;
    margin: 0;
    display: gird;
    grid-template-columns: 100%;
}

nav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.4s;
    border-radius: 0.5em
}

nav a:hover{
    background-color: rgba(0, 255, 255, 0.103);
    color: greenyellow;

}

#home{
    float:left
}


#cover{
    background-image: url("images\\cover.jpg");
    background-color: steelblue; 
    background-position: center;
    width: auto;
    height:50rem;
    background-repeat:no-repeat;
    background-attachment: fixed;   
    background-position: center;
    background-size: cover;


}
header img{
    object-fit: cover;
}

header h1{
    color: whitesmoke;
    position: relative; 
    float: left;
    top: 30%;
    left: 45%;
    transform: translate(-45%, -30%);
    font-size: 3em;  

 }
#skills{

}



#projects{
    display: grid;
    grid-template-columns: 100%;
    padding: 1em;
    grid-gap: 1em;
}

#projects-heading{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

#projects-display{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(255px, 1fr) )
}
.single-project{
    padding: 1em;
    padding-left: 20%;
    padding-right: 20%;

}
.single-project img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.single-project img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.project-description{
    text-align: center
}

#blog-preview{
    /*  background-color: gold */
}

#skills{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(255px, 1fr) );
    /* background-color: green; */
    padding: 1em;
    grid-gap: 1em;
    height: 350px

}

#skills-breif{
    /* background-color: fuchsia; */
    padding: 1em;
}

#skills-symbols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: blueviolet; */
    padding: 1em;
    grid-gap: 3em;
    /* width:33%;
    height:50%;
    padding-left:33%;
    padding-top: 20%; */
       
}


i{
    font-size: 3em;
    text-align: center;
    color:rgb(16, 133, 241);
}

i:hover{
    color:greenyellow;

}

footer p{
    text-align: center
}

/* 600px or less */
@media screen and (max-width: 500px){

    #cover{
        background-attachment: scroll;
        height: 25em;
    }

    nav a{

    }

    header h1{
        position: relative; 
        float: left;
        top: 47%;
        left: 45%;
        font-size: 2em;
    }

    #projects-heading{
        font-size: 1em;
    }

    #skills{
        height: 80%;
    }

    i{
        font-size: 2em;
    }

}


    
