body{
    background-color: #f0f8ff;
    height: 100%;
    margin: 0;
    display: gird;
    grid-template-columns: 100%;
}

nav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.4s;
    border-radius: 0.5em;
}

nav a:hover{
    background-color: rgba(0, 255, 255, 0.103);
    color: greenyellow;
}


#home{
    float:left;
}

header{
    background-image: url("images\\cover.jpg");
    background-color: steelblue; 
    background-position: center;
    width: 100%;
    height:50rem;
    background-repeat:no-repeat;
    background-attachment: fixed;   
    background-position: center;
    background-size: cover;
}



#cover h1{
    color: whitesmoke;
    width: 100%;
    text-align: center;
    position: absolute;
    float: left;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 3em;
}


/* ==========================================================================
   About Section
   ========================================================================== */

#skills{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(255px, 1fr) );
    padding: 1em;
    grid-gap: 1em;
    height: 350px
}

#skills-brief img{
    max-width: 14em;
    height: auto;
    border-radius: 50%;
    float: left;
    padding: 0.5rem;
}

#skills-brief{   
    padding: 40px;   
}

#skills-brief p{
    margin:0;
    font-size: 1.25em;
}

#symbols-heading{
    grid-column: span 3;
    text-align: center;
}

#skills-symbols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em;
    grid-gap: 0.1em;    
}

.icon {
    position: relative;
    display: inline-block;
    text-align: center;
}

.icon .icon-info {
    visibility: hidden;
    width: 3em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2em;
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    margin-left: -60px;   
}

.icon:hover .icon-info {
    visibility: visible;
}

i{
    font-size: 3em;
    text-align: center;
    color:rgb(16, 133, 241);
    transition: all 0.4s;
    
}

i:hover{
    color:#0CCA4A;

}

/* ==========================================================================
   Projects Section
   ========================================================================== */

#projects{
    display: grid;
    grid-template-columns: 100%;
    padding: 1em;
    grid-gap: 1em;
}

#projects-heading{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

#projects-display{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(255px, 1fr) )
}
.single-project{
    padding: 1em;
    padding-left: 20%;
    padding-right: 20%;

}
.single-project img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}

.single-project img:hover {
    box-shadow: 0 0 2px 1px #0CCA4A;
}

.project-description{
    text-align: center;
    font-size: 1.3em;
}

/* ==========================================================================
   Blog Section
   ========================================================================== */

#articles{
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(255px, 1fr) )

}

.articles-display{
    background-color: #A4B8C4;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.articles-display:nth-child(2) {
    background-color:#6E8387;
}

.articles-display i{
    font-size: 10rem;
    text-align: center;
    padding: 0rem;
    padding-top: 2rem;
    color:rgb(58, 62, 66);
    transition: all 0.4s;
}





/* ==========================================================================
Footer
========================================================================== */

footer{
    padding: 2em;
}
footer i{
    font-size: 2em;
    text-align: center;
    color:#1085f1;
    padding: 0.25em;
    transition: all 0.4s;
}

#social-links{
    display:flex;
    justify-content: center;
}
footer p{
    text-align: center
}


/* 650px or less */
@media screen and (max-width: 650px){

    #cover{
        background-attachment: scroll;
        height: 25em;
    }

    nav a{
        padding: 8px 12px;
    }

    header img{
        max-width: 8em;
        height: auto;
        border-radius: 50%;
        top: 25%;
    }

    header h1{
        position: realtive;
        width: 10em; 
        float: left;
        top: 10%;
        left: 50%;
        font-size: 2em;
    }

    #projects-heading{
        font-size: 1em;
    }

    #skills-brief{
        padding: 0.5rem;
    }

    #skills-brief img{
        max-width: 8em;
        display:block;
        margin:auto;
    
    }
    #skills{
        height: 80%;
    }

    i{
        font-size: 2em;
    }

    #articles{
        height: 50rem;
    }

    footer{
        padding: 1em;
    }
}


    
